$red: firebrick;
$orange: darkorange;
$teal: rgb(0, 186, 203);
$gold: gold;
$green: seagreen;
$brownish: rgb(99, 81, 81); // currently unused
$gray: rgb(207, 205, 205);
$blue: royalblue;
$purple: mediumpurple;
// $pink: #F33A6A;
$pink: #ea1850;
$thistle: #D8BFD8;